body {
    background-image: url("https://media.tenor.com/YgrLNrQ522sAAAAM/rat-dance.gif");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 20px auto
}

.resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: 2px dashed black;
    border-radius: 80px;
    box-shadow: 0 10px 16px darkgray;
    background-color: white;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    opacity: 0.5
}

.botao{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    border: 1px solid greenyellow;
    border-radius: 40px;
    box-shadow: 0 5px 8px greenyellow;
    background-color: white;
    padding: 20px;
    width: 90%;
    max-width: 200px;
    margin: 60px auto 0 auto; 
    opacity: 0.5
}

input{
    border-radius: 50px;
    border: 2px  redvelvet purple;
    font-size: 20px;
    width: 80%;
    max-width: 300px;
    padding: 10px;
}

button{
    background-color: orange;
    border: 2px dotted black;
    border-radius: 50px;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/* responsividade para calculares */

@media (max-width: 600px) {
    h1 {
        font-size:22px;
    }
    h2 {
        font-size: 18px;
    }
    .botao {
        flex-direction: column;
        gap: 10px
    }
    input {
        font-size: 18px
    }
    button{
        width: 100%;
    }
}